<footer class="rodape text-white">
  <div class="container">
    <div class="row p-5">
      <div class="col-4 justify-content-center">
        <ul>
          <li>
            <p>
              <i class="far fa-clock mr-2"></i>
              ATENDIMENTO
            </p>
          </li>
          <li>Seg-Sex: 7h as 18h</li>
          <li>Sábado: 8h as 17h</li>
        </ul>
      </div>
      <div class="col-4 justify-content-center">
        <ul>
          <li>
            <p>
              <i class="fas fa-phone mr-2"></i>
              CONTATO
            </p>
          </li>
          <li>
            <i class="fab fa-whatsapp mr-2"></i>
            (11) 0000-0000
          </li>
          <li>
            <i class="far fa-envelope mr-2"></i>
            contato@armazemnatural.com
          </li>
        </ul>
      </div>
      <div class="col-4 justify-content-center">
          <ul>
            <li>
              <p>
                <i class="fas fa-map-marker-alt mr-2"></i>
                LOCALIZAÇÃO
              </p>
            </li>
            <li>E-armazém.com LDTA / CNPJ: 00.111.111/0001-10</li>
            <li>Av. Sacadura Campos, 100 - São Paulo, SP - 20000-00</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center p-3">Copyright</div>
</footer>
