<body>
    <div class="container d-flex justify-content-center">
        <div class="row">
           <div class="col-md-12">
            <div class="form d-flex">
                <div class="logo">
                    <div class="col-md-12 text-center">
                        <h2 class="pb-3">Armazém Natural</h2>
                    </div>
                </div>
                <form action="" name="entrar">
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" class="form-control" placeholder="Informe o usuário">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="Informe sua senha">
                    </div>
                    <div class="form-group">
                        <p class="text-center">Não tem uma conta? <a routerLink='/cadastro'>Cadastre-se</a></p>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class=" btn btn-block mybtn btn-danger tx-tfm">Entrar</button>
                    </div>
                </form>
            </div>   
           </div>
        </div>
    </div>
    
</body>