
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 3px;
    background-color: rgb(89, 44, 34);
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    
}

a {
    cursor: pointer;
}

h4 {
    text-decoration: orange;
}

i {
    color: #F28705;
}