<nav class="nav text-white align-items-center">
  <p class="mt-2 ml-5">
    <i class="fas fa-leaf mr-2"></i>
    Armazém Natural
  </p>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white mr-5" href="#">Sair
        <i class="fas fa-sign-in-alt ml-2"></i>
      </a>
    </li>
  </ul>
</nav>