<div class="container p-4">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
            <img src="../../assets/img/geleia.jpg" width="400px" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title">Geleia artesanal de morango</h4>
                  <p class="card-text">Apartir de</p>
                  <h4>R$ 18,00</h4>
                  <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus mr-3"></i>Comprar</a>
                  <div>
                    <p class="mt-3">Descrição: Geleia caseira feita com morangos selecionados e orgânicos, produto zero açucar</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
