<div class="container d-flex justify-content-center p-3">
    <h1>Todos os produtos</h1>
</div>
<div class="container pb-5">
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Título especial</h5>
              <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Título especial</h5>
              <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Título especial</h5>
                <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <a href="#" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Título especial</h5>
                <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <a href="#" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
      </div>
</div>
